<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курилова Кристина.{% block lab %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='main.css')}}">
    {% if request.cookies.get('color') and request.cookies.get('bg_color') and request.cookies.get('font_size') %}   
    <style>
        body {
            color: {{ request.cookies.get('color') }};
            background-color: {{ request.cookies.get('bg_color') }};
            font-size: {{ request.cookies.get('font_size')}}px;
        }
    </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 4 
    </header>

    <main>
        <a href="http://127.0.0.1:5000/menu" target="_blank" ><h1>Меню</h1></a>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Курилова Кристина Александровна, ФБИ-14, 3 курс, 2023
    </footer>
</body>
</html>