<style>
    img {
        margin-left: 35%;
    }
    h1 {
        text-align: center;
    }
</style>
{% extends "base.html" %}

{% block lab %} Лабораторная работа 2 {% endblock %}

{% block main %}
    <h1>Home</h1>
    <div>
        <b>Кухня</b> – это не только место приготовления еды, 
        это сердце дома. Здесь собирается вся семья, общается, делятся 
        впечатлениями. Кухня должна быть функциональной, уютной и красивой. 
    </div>
    <img src='/static/img1.jpg' height=500px>

    <div>
        Многие люди по привычке закрывают оконные проемы шторами, заставляют 
        кашпо с цветами, но <b>подоконник</b> — отличное дополнительное место для отдыха, поэтому
        хорошим вариантом является установка дивана. 
    </div>
    <img src='/static/img2.jpg' height=500px>

    <div>
        Жилье начинается с <b>прихожей</b> — визитной карточки дома. Это небольшое помещение должно 
        быть одновременно высокофункциональным, стильным и удобным. Красивые прихожие ангажируют общую 
        стилистику дома или квартиры и дают первое представление о живущих здесь людях.
    </div>
    <img src='/static/img3.jpg' height=500px>

    <div>
        Современные <b>dressing room</b> поражают разнообразием дизайна и компоновки. Они выступают и 
        отдельными загороженными зонами в квартирах-студиях и даже независимыми от спальни помещениями 
        в особняках. Основной состав конструкции: несущий каркас и оснащение, вентиляционные отверстия и точечная подсветка.

    </div>
    <img src='/static/img4.jpg' height=500px>

    <div>
        <b>Спальня</b> — это место, где люди проводят наибольшее количество времени. В ней можно и нужно создавать условия,
        при которых организм настроится на отдых и получит необходимый заряд бодрости на следующий день.
    </div>
    <img src='/static/img5.jpg' height=500px>

{% endblock %}