<style>
    .ty {
        list-style: none; /*убираем маркеры списка*/
        /* margin: 10; убираем верхнее и нижнее поле, равное 1em */
        padding-left: 10; /*убираем левый отступ, равный 40px*/
        margin-left: 140px;
    }
    .menu {text-decoration: none; /*убираем подчеркивание текста ссылок*/
        background:#53382b; /*добавляем фон к пункту меню*/
        color:#e1e0df; /*меняем цвет ссылок*/
        padding:20px; /*добавляем отступ*/
        font-family: arial; /*меняем шрифт*/
        border-radius:4px;
        margin-top: 10px;
        font-size: 20px;
        }
    li {
        float:left; /*Размещаем список горизонтально для реализации меню*/
        margin-right: 30px; /*Добавляем отступ у пунктов меню*/
        text-align: center;
        margin-top: 20px;
        }
    div{
        padding: 90px;
        margin-left: 80px;
    }
</style>
{% extends 'base.html' %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
    
    <ul class="ty">
        <li>
            <a href="/lab6/list_articles" class="menu">Просмотреть заметки</a>
        </li>
        <li >
            <a href="/lab6/add_article" class="menu">Создать заметку</a>
        </li>
        <li >
            <a href="/lab6/log2" class="menu">Логин</a>
        </li>
        <li >
            <a href="/lab6/register2" class="menu">Регистрация</a>
        </li>
        <li>
            <a href="/lab6/articles2" class="menu">{{ username_form }}</a>

        </li>
        <li>
            <a href="/lab6/logout2" class="menu">Logout</a>
        </li>
    </ul>
    
    <div>
        <img src='/static/bd.jpg'>
    </div>
    
{% endblock %}