<style>
    .error{
        font-weight: bold;
        color: brown;
        font-size: 20px;
    }
    .error1{
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% extends 'base.html' %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Вход</h1>
    <h2>Пожалуйста, авторизуйтесь</h2>
    <div class="error1">{{ error }}</div>
    <div class="error">{{ error2 }}</div>
    <form method="post">
        <div>
            <label for="username">Пользователь: </label>
            <input type="text" id="username" name="username" value="{{ username }}">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" value="{{ password }}">
        </div> 
        <div>
            <button type="submit">Войти</button> 
            <button type="reset">Отмена</button>
        </div>
    </form>
    
{% endblock %}